{% extends "base.html" %}

{% block title %}リプライ作成{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
    
投稿主: {{ post.author }}
<br>
投稿日: {{ post.created_at }}
{% if post.created_at != post.updated_at %}
    編集日: {{ post.updated_at }}
{% endif %}

<hr>
<div style="height: 100hv;">
    {{ post.content }}
</div>
<div style="border-top: 1px solid black;">
    {% if user == post.author %}
        <a href="{% url 'post_edit' post.id %}">edit</a> | <a href="{% url 'post_delete' post.id %}">delete</a>
    {% endif %}
</div>

<div style="padding-left: 20px;">
    <h2>リプライを投稿する</h2>
    <form method="post">
        {% csrf_token %}
        <textarea name="content" rows="4" cols="50" placeholder="リプライの内容を入力してください"></textarea>
        <input type="hidden" name="parent_reply_id" value="{{ parent_reply_id }}">  <!-- 親リプライのIDを隠しフィールドとして送信 -->
        <button type="submit">リプライを投稿</button>
    </form>
    <a href="{% url 'post_list' %}">戻る</a>
</div>

{% endblock %}